html {
  background-color: silver;
  min-height: 95vh;
  margin: auto 1rem;
}

html, body {
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;

  background-color: silver;
  min-height: 100vh;
  border: 1px solid gray;

  &>* {
    flex-grow: 0;
  }
}

.page-header {
  justify-content: center;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.control-area {
  margin: auto 0;
}

.control-table {
  td {
    border: none;
    vertical-align: middle;
  }
}

.control-button {
  display: block;
  background-color: lighten(silver, 10%);
  border: 1px solid lighten(black, 30%);
  margin: auto;
  width: 100%;

  &.active {
    background-color: lime;
  }
}

.AppNavbar {
  margin-bottom: 1rem;
  .active {
    background-color: lighten(silver, 10%);
  }
}
